{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{%block include %}
        <!--rangeSlider-->
        <script src="https://cdn.jsdelivr.net/npm/range-slider-input@2.4/dist/rangeslider.umd.min.js"></script>

        <!-- js colorpicker -->
        <script src="{{ url_for('static', filename='js/colorpicker/colorpicker.iife.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/colorpicker.min.css')}}" />

        <!--tinycolor-->
        <script src="{{ url_for('static', filename='js/tinycolor-min.js')}}"></script>

        <!--page-specific js-->
        <script src="{{ url_for('static', filename='js/index.js')}}"></script>

    {% endblock %}

{% block main %}
<h1>Paint colour comparison tool</h1>
    <!-- COLOUR CHOOSER -->

    <div class="container border border-dark rounded mb-2 py-2">
        <div class="row justify-content-center">
            <div class="col-md px-3 ">
                <div class="row ">
                    <h3>Reference colour</h3>
                </div>
                <div class="row mb-3">
                    <div id="selected-colour" class="w-100 colour-ref border border-dark rounded">
                        <button id="picker" class="color-picker" >
                    </div><!--end #selected_colour-->
                </div><!--end .row-->
            </div><!--end .col-->
            <div class="col-md px-3 hide-initial">
                <div class="row ">
                    <h3>Adjusted colour</h3>
                </div>
                <div class="row mb-3">
                    <div id="adjusted-colour" class="colour-ref  w-100 border border-dark rounded"></div>
                </div><!--end .row-->
            </div><!--end .col-->
        </div><!--end .row-->
        <div class="row hide-initial" id="adjustments">
            <div class="row mb-2 ">
                <div class="col-3 text-end">
                    <label for="hue">Hue: </label>
                </div>
                <div class="col-3">
                    <input id="hue" class="border-dark border rounded w-100" value=0 readonly>
                </div>
                <div class="col-6 ">
                    <button id="reset" class="border-dark border rounded w-50">Reset</button>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-3 text-end">
                    <label for="saturation">Saturation:</label>
                </div>
                <div class="col-3">
                    <input id="saturation" class="border-dark border rounded w-100">
                </div>
                <div class="col-6">
                    <div id="saturation-slider"></div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 text-end">
                    <label for="luminance">Luminance:</label>
                </div>
                <div class="col-3">
                    <input id="luminance" class="border-dark border rounded w-100">
                </div>
                <div class="col-6">
                    <div id="luminance-slider"></div>
                </div>
            </div><!--end .row-->
        </div><!--end #adjustments-->
    </div><!--end .container-->

    <!-- FILTERS AND PAINTS LIST-->
    <div id="filter-block" class="hide-initial container py-2 border border-dark rounded">
        <!-- Filters -->
        <!--<div class="filters">
            <a href="?status=all" class="{{ 'active' if filter_status=='all' }}">All</a>
            <a href="?status=active" class="{{ 'active' if filter_status=='active' }}">Active</a>
            <a href="?status=completed" class="{{ 'active' if filter_status=='completed' }}">Completed</a>
            <a href="?status=archived" class="{{ 'active' if filter_status=='archived' }}">Archived</a>
            <div class="search-box">
                <form method="GET">
                    <input type="hidden" name="status" value="{{ filter_status }}">
                    <input type="text" name="q" value="{{ search }}" placeholder="Search...">
                    <button class="btn-sm btn-ghost" type="submit">🔍</button>
                </form>
            </div>
        </div>-->
        <h3>Find paint colours</h3>
        <p class="text-start">Choose from analogous, complementary or triadic to find paint colours that match the adjusted colour. Leeway on the hue, saturation and luminance values is in settings.</p>
        <div id= "list-section" >
            <div class="container text-center  mb-3">
                <div class="row justify-content-center">
                    <div class="col text-start">
                        <select  id="filter" class="form-select" >
                            <!--<option value="0" selected>All</option>-->
                            <option value="1" selected text="Similar colours to the adjusted colour">Analogous<span id="analogous-hue"></span></option>
                            <option value="2" text="Complementary colours to the adjusted colour">Complementary<span id="complementary-hue"></span></option>
                            <option value="3" text="Triadic colours to the adjusted colour">Triadic<span id="triadic-hues"></span></option>
                        </select>
                    </div>
                    <div class="col-3 text-end">
                        <!-- Button trigger settings modal -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#settingsModal">
                            Settings
                        </button>
                    </div>
                </div>
            </div>

            <!--ITEMS-->
            {% if paints %}
                <h5 id="paints-list-title">Paints similar to the adjusted colour</h5>
                <div id="paints" class="container ">
                    <div class="row fw-bold justify-content-center table-headings mb-2" >
                        <div class="col-2">BRAND</div>
                        <div class="col-3">PAINT NAME</div>
                        <div class="col-2">COLOUR</div>
                        <div class="col-3">HSL</div>
                        <div class="col-2 ">RELEVANCE</div>
                    </div>
                    <div id="no-results">No paints found.</div>
                    <div id="paints-list">
                        {% for p in paints %}
                        <div class="row justify-content-center item-card mb-2" custom-h={{p.colour.H}} custom-s={{p.colour.S}} custom-l={{p.colour.L}}>
                            <div class="col-2">{{ p.brand.name }}</div>
                            <div class="col-3">{{ p.name }}</div>
                            <div class="colour-holder col-2 p-0" data-bs-toggle="tooltip" data-bs-title="Click to compare with reference/adjusted colours">
                                <button type="button" class="compare btn w-100 h-100 border border-dark rounded" style="background-color: rgb({{p.colour.R}},{{p.colour.G}},{{p.colour.B}})", data-bs-toggle="modal" data-bs-target="#compareModal"></button>
                            </div>
                            <div class="col-3 ">HSL({{p.colour.H}}, {{p.colour.S}}%, {{p.colour.L}}%)</div>
                            <div id="relevance" class="col-2 "></div>
                        </div>
                        {% endfor %}
                    </div>
                </div><!--end #paints-->
            {% else %}
                <div class="empty">No paints in the database.</div>
            {% endif %}

        </div><!--end .list-section-->
    </div><!--end #filter-block-->


    <!--MODALS-->
    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Change settings for filtering</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <p class="text-start">What change to the values is considered the same? For example, if &plusmnHue is set to 5, a colour with a hue of 50 or 60 will be considered the same as one with a hue of 55.</p>
                <div class="row">
                    <div class="row mb-2 ">
                        <div class="col-4 text-end">
                            <label for="hue-distance">&plusmnHue: </label>
                        </div>
                        <div class="col-2">
                            <input id="hue-distance" value="5" min="0" max="180" step="1" class="border-dark border rounded w-100" value=0>
                        </div>
                        <div class="col-6 ">
                            <div id="hue-distance-slider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row mb-2 ">
                        <div class="col-4 text-end">
                            <label for="saturation-distance">&plusmnSaturation: </label>
                        </div>
                        <div class="col-2">
                            <input id="saturation-distance" value="5" min="0" max="100" step="1" class="border-dark border rounded w-100" value=0>
                        </div>
                        <div class="col-6 ">
                            <div id="saturation-distance-slider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row mb-2 ">
                        <div class="col-4 text-end">
                            <label for="luminance-distance">&plusmnLuminance: </label>
                        </div>
                        <div class="col-2">
                            <input id="luminance-distance" value="5" min="0" max="100" step="1" class="border-dark border rounded w-100" value=0>
                        </div>
                        <div class="col-6 ">
                            <div id="luminance-distance-slider"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <!--Paint compare modal-->
    <div class="modal fade" id="compareModal" tabindex="-1" aria-labelledby="compareModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="compareModalLabel">Compare colours</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                    <div class="row" class="mb-1 fw-bold">
                        <div class="col">
                            Selected colour
                        </div>
                        <div class="col">
                            <div class="row">
                                <label for="compare-adj" >Adjusted colour<input  type="radio" id="compare-adj" class="m-2" name="compare" value="0" checked="checked"></label>
                            </div>
                            <div class="row">
                                <label for="compare-ref" class=>Reference colour<input  type="radio" id="compare-ref" class="m-2" name="compare" value="1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-0">
                            <div id="chosen-colour" class="p-4 border border-dark rounded" ></div>
                        </div>
                        <div class="col p-0">
                            <div id="compare-reference-colour" class="p-4 border border-dark rounded" hidden="true"></div>
                            <div id="compare-adjusted-colour" class="p-4 border border-dark rounded"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
